#root{
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-family: 'Fredoka',sans-serif;
}
.custom-popup{
  font-family: 'Fredoka',sans-serif;
  
}
.read-the-docs {
  color: #888;
}

.bold{
  font-family: 'Fredoka', sans-serif; 
  font-weight: bold; 
}