input,
select {
  border-radius: 0.5rem;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  box-sizing: border-box;
}


Form.Control,
select {
  display: block;
  align-items: right;
  flex-direction: column;
}


.label-input > .form-control,
select {
  border-width: 1.9px;
  
}

.label-input label {
  display: block;
  margin-right: 10px;
}

.label-input input,
.formSelect,
.socialDiv,
.secParDiv,
.custom-select {
  display: block;
  flex-grow: 1;
  border-color: black;
}

.form-container {
  width: 90%;
  max-width: fit-content;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.55);
  /* Adjust the alpha value for transparency */
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.6);
}

.form-container .row {
  margin-bottom: 20px;
}

.form-container .label-input h4 {
  margin-bottom: 10px;
}

/* Style to move the arrow to the left side */
.custom-select::-ms-expand {
  display: none; /* Hides the default arrow on IE/Edge */
}

.formSelect {
  appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12"><path d="M11.707 4.293a1 1 0 0 0-1.414 0L6 8.586 1.707 4.293a1 1 0 1 0-1.414 1.414l5 5a1 1 0 0 0 1.414 0l5-5a1 1 0 0 0 0-1.414z" fill="currentColor"/></svg>'); /* Add a custom arrow icon */
  background-repeat: no-repeat;
  background-position: left; 
}


