.line_detailsDiv{ 
  width: 90%;
  max-width: fit-content;  
  height: fit-content;
  background-color: rgba(255, 255, 255, 0.55);
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
}

.assocStu_detailsDiv{
  max-width: fit-content;  
  background-color: rgba(255, 255, 255, 0.55);
  padding: 15px;
  margin-right: 15px;
  border-radius: 8px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 8px;
  background-color: #f2f7ef;
}

.table th {
  background-color: #f2f2f2;
}

@media (max-width: 570px) {
  .assocStu_detailsDiv{
    margin-top: 20px;
    margin-right: 0px;
    min-width: fit-content;
  }
}

