.v-btn {
    background-color: green;
    border-radius: 8px;
    color: white;
    border-color: white;
}

.x-btn {
    background-color: red;
    border-radius: 8px;
    color: white;
    border-color: white;
}

#schoolMarker {
    background-color: rgb(66, 78, 63);
    color: white;
    width: 32px;
    height: 32px;
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#busMarker {
    background-color: rgba(218, 238, 220, 0.7);
    color: rgb(19, 92, 23);
    width: 42px;
    height: 42px;
    display: grid;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    border-radius: 50%;
}