.v-btn {
    background-color: green;
    border-radius: 8px;
    color: white;
    border-color: white;
}

.x-btn {
    background-color: red;
    border-radius: 8px;
    color: white;
    border-color: white;
}

#schoolMarker {
    background-color: rgb(66, 78, 63);
    color: white;
    width: 32px;
    height: 32px;
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}