.custom-table .rdt_TableCell div {
    white-space: normal !important;
}

span.sc-bZHSRq.sc-kMzELR.czCoqD.iOgnCO {
    direction: ltr;
}

.sc-iKOmoZ.hVPalX.rdt_Pagination {
    justify-content: center;
}

.sc-dmyCSP.mHisf.rdt_TableHeadRow {
    background-color: #4B8443;
    color: white;
}

select.sc-cyZbeP.kUwhdZ {
    padding-right: 10px;
}

.custom-table .rdt_TableRow:nth-child(even) {
    background-color: #ffffff;
    /* Light color */

}

.custom-table .rdt_TableRow:nth-child(odd) {
    background-color: #E4FDE1;
    /* Dark color */

}

.iconsBtn {
    border: none;
    background: none;
    padding: '5px';
}

.viewIcon {
    color: #6c942f;
}

.editIcon {
    color: #5b723b;
}

.deleteIcon {
    color: #3d551a;
}

.addIcon {
    color: #3d551a;
}

.epZUJV {
    margin-top: 14px !important;
}

.searchInput {
    width: auto;
}

div#cell-7-undefined {
    justify-content: center;

}

@media (min-width: 1200px) {
    div#cell-7-undefined {
        justify-content: right;
    }
}

.close-button {
    background-color: #4B8443 !important;
    color: white !important;
    border-color: #4B8443 !important;    
}

  