.custom-table .rdt_TableCell div  {
    white-space: normal !important;  
}
span.sc-bZHSRq.sc-kMzELR.czCoqD.iOgnCO{
    direction: ltr;
}
.sc-iKOmoZ.hVPalX.rdt_Pagination  {
    justify-content: center;
}

